{
  "pixela": {
    "username": "<YOUR-PIXELA-USERNAME-HERE>",
    "token": "<YOUR-TOKEN-HERE>",
    "graph-id": "<GRAPH-ID-HERE>",
    "graph-name": "<GRAPH-NAME-HERE>",
    "graph-unit": "<GRAPH-UNIT-HERE>",
    "graph-color": "<GRAPH-COLOR-HERE>",
    "timezone": "<YOUR-TIMEZONE-HERE>"
  }
}
